.about-desc {
    flex: 0 0 50%;
    max-width: 50%;
}

.about-desc .section-title .title {
    color: var(--main-color-white);
}

.about-desc .section-title .description{
    color: rgba(198,201,216,.75);;
}

.about-tab {
    position: relative;
    margin-top: 30px!important;
}

.about-img{
    flex: 0 0 50%;
    max-width: 50%;
    margin-bottom: 30px!important;
}

.about-img > img {
    border-radius: 8px;
    box-shadow: 0 25px 65px rgb(0 0 0 / 10%);
    object-fit: cover;
}

@media screen and (min-width: 768px) {
    .about-img {
        flex: 0 0 40%;
        max-width: 40%;
        margin-left: 25px;
    }
}

@media screen and (max-width: 767px) {
    .about-img {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .about-desc {
        flex: 0 0 100%;
        max-width: 100%;
    }
}