[data-tab-content] {
    display: none;
}

.active[data-tab-content]{
    display: block;
}

.tab-container{
    width: 100%;
}

.tab-container > ul {
    display: flex;
    margin: 0 -20px;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.tab-container > ul li {
    position: relative;
    margin: 0 20px;
    display: inline-block;
    padding-bottom: 4px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    outline: none;
    color: var(--main-color-white);
}

.tab-container > ul li div{
    border: 1px solid var(--main-color-fifth);
    position: absolute;
    right: 50%;
    left: 0;
    transition: all .2s ease;
}

.tab-container > ul li.active{
    color: var(--main-color-primary);
    font-weight: bolder;
}

.tab-container > ul li:hover div{
    border: 1px solid var(--main-color-fifth);
    right: 0;
    transition: all .2s ease;
}

.tab-container > ul li.active div{
    border: 1px solid var(--main-color-primary);
    right: 0;
}

.tab-content {
    align-items:initial;
    padding-top: 20px;
    height: 200px;
}

.tab-list{
    display: block;
}

.tab-list > h3 {
    font-weight: bolder;
    display: block;
    color: rgba(198,201,216,.75);
    margin-bottom: 4px;
}

.tab-list > p {
    display: inline-block;
    margin: auto 20px auto 0;
    font-size: 16px;
    line-height: inherit;
    margin-bottom: 15px;
    color: rgba(198,201,216,.75);
    font-weight: 300;
}

@media screen and (max-width: 375px) {
    .tab-container > ul {
        flex-wrap: nowrap;
    }

    .tab-container > ul li {
        display: block;
    }
}