@import url('https://fonts-googleapis.com(css?family=Open+Sans|Roboto');

.container {
  align-items: center;
  box-sizing: border-box;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 10px;
  font-family: 'Roboto', sans-serif;
}

section{
  padding-top: 100px;
  padding-bottom: 100px;
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex .row {
  flex-direction: row;
}

.flex .wrap {
  flex-wrap: wrap;
}