@import "tailwindcss";

@font-face {
  font-family: "newrodin";
  src: url("/fonts/fot-new-rodin-pro-eb.otf") format("opentype");
}

@font-face {
  font-family: "rodin";
  src: url("/fonts/fot-rodin-pro-eb.otf") format("opentype");
}

::-webkit-scrollbar {
  width: 10px;
  border-radius: 0px;
  background: #0E0D51;
}

::-webkit-scrollbar-thumb {
  background: #fff;
  border-radius: 0px;
  border: 2px solid #0E0D51;
}

@layer components {
  section[id^="about-me"], section[id^="experiences"], section[id^="testimonials"], section[id^="contact"] {
    /* @apply relative h-screen w-full h-full flex flex-col items-start justify-start bg-gray-900 text-white overflow-hidden px-4 sm:px-6 md:px-8 lg:px-12; */
    @apply h-screen w-full flex flex-col items-start justify-start bg-gray-950 text-white;
  }

  h1[id^="section-title"] {
    @apply absolute flex flex-col leading-[0.85] text-white/10 font-black tracking-tighter transition-colors text-4xl flex text-center justify-center items-center -rotate-10 uppercase w-full h-full;
  }

  button[class*="button-menu"] {
    @apply cursor-pointer font-black text-4xl transition-all duration-300 block hover:bg-blue-700 uppercase;
  }

  button[id="button-esc"] {
    @apply pl-5 sm:pl-7 md:pl-10 lg:pl-15 xl:pl-20 pr-4;
  }

  button[id="button-menu"] {
    @apply pr-5 sm:pr-10 md:pr-20 lg:pr-30 xl:pr-50
  }

  div[class*="mask-internal"] {
    @apply [mask-image:linear-gradient(to_right,transparent,black_20%,black_80%,transparent)] px-20;
  }
}

@theme {
  --font-sans: "newrodin", ui-sans-serif, system-ui, sans-serif;
  --shadow-card: 8px 8px 0 rgb(20, 71, 228); 
  --shadow-card-sm: 4px 4px 0 rgb(20, 71, 228); 
  --shadow-card-lg: 8px 16px 0 rgb(20, 71, 228);
  --shadow-list-menu: 4px -4px 0 rgba(0,0,0,0.4);
}

@layer base {
  html, body {
    font-family: var(--font-sans);
  }
}