.nav-container {
    position: fixed;
    background: transparent;
    transition: all .3s ease-out;
    height: 60px;
    width: 100%;
    padding-left: 50px;
    padding-right: 50px;
    font-size: 20px;
    z-index: 1;
}

.scrolling {
    background-color: #252934;
    transition: all .5s ease-out;
}

.navbar {
    float: right;
    list-style: none;
    overflow: hidden;
}

.nav-menu {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.nav-menu > li {
    display: inline-block;
    line-height: 60px;
    margin: 0 5px;
}

.nav-links {
    text-decoration: none;
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    text-transform: uppercase;
    text-decoration: none;
}

.nav-links:hover {
    color: #e31b6d;
    transition: all .2s ease-out;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all .3s ease-in-out;
    background: #e31b6d;
}

@media screen and (max-width: 425px){
    .nav-container{
        background: #252934;
    }

    .nav-menu {
        display: grid;
        height: 90vh;
        grid-template-columns: auto;
        background: #252934;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 60px;
        left: -100%;
        opacity: 0;
        transition: all .5s ease;
    }

    .nav-menu.active{
        background: #252934;
        left: 0;
        opacity: 1;
        transition: all .5 ease;
    }

    .nav-links {
        text-align: center;
        line-height: 70px;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: #e31b6d;
        color: white;
        transition: all .4s ease-out;
    }

    .navbar {
        width: 100%;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .menu-toggle .bar{
        display: block;
        cursor: pointer;
    }

    .menu-toggle:hover {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}